<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.beemarie.bhellermobileappdevelopment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.HomeActivity" />
        <activity android:name=".view.TermListActivity" />
        <activity android:name=".view.TermDetailActivity" />
        <activity android:name=".view.CourseListActivity" />
        <activity android:name=".view.CourseDetailActivity" />
        <activity android:name=".view.MentorListActivity" />
        <activity android:name=".view.MentorDetailActivity" />
        <activity android:name=".view.AssessmentListActivity" />
        <activity android:name=".view.AssessmentDetailActivity" />
        <activity android:name=".view.CourseNotesActivity" />
        <activity android:name=".view.AddNewTermActivity"></activity>
    </application>

</manifest>